$font-family: 'Roboto Mono', monospace;
$background-color: #3d3f40;
$panel-body: #7d7d7f;
$button: #63636e;
$button-text: #f3f3f3;
$screen-text: #434343;
$backlight-off: #47b2b2;
$backlight-on: #7fffff;

$box-shadow-color-cpanel: #131212;
$box-shadow-buttons: #2e2a2a;
$background-color-buttons: #63636e;
$keypad-number-color: white;